.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; */
}

/* .button {
  width: 10px;
  height: 10px;
}

.date_picker {
  margin: auto;
} */

@media (min-width: 425px) {
  
}

@media (min-width: 990px) {
  
}

@media (min-width: 1200px) {
  
}