.header {
  display: flex;
  align-items: center;
  background-color: #ff88db15;
  height: 44px;
  font-size: 16px;
  line-height: 120%;
}

.nav-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main_link, .profile_link {
  color: #3e3e3e;
  text-decoration: none;
  margin: 0 4%;
}
.main_link {
  flex: 1 0 30%;

}

@media (min-width: 425px), (orientation: landscape) {
  .header {
    font-size: 22px;
    height: 64px;
  }
  
}

@media (min-width: 990px) {}

@media (min-width: 1200px) {}